body {
  text-align: center;
  font-family: serif;
}

header {
  width: 100%;
  height: 100px;
  padding: 20px 0;
  background-color: #c29f4c;
  font-family: serif;
  font-size: x-large;
}

.profile-container {
  font-size: x-large;
}

.favorite-container {
  font-size: x-large;
}
#instagram {
  font-size: x-large;
}
